<!DOCTYPE html>
<html ng-app="app">
	<head>
		<title><%=title%></title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script type="text/javascript" src="lib/angular/angular.min.js"></script>
		<script type="text/javascript" src="lib/angular-route/angular-route.min.js"></script>
		<link rel="stylesheet" type="text/css" href="lib/bootstrap/dist/css/bootstrap.min.css">
		<script type="text/javascript" src="lib/angular-resource/angular_resource.js"></script>
		<script type="text/javascript" src="javascripts/app.js"></script>
	</head>	
	<body>
		<div class="contanier">
			<div ng-view></div>			
		</div>		
	</body>
</html>
